/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.k-h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.k-h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5;
}

.k-h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.k-p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.k-p2 {
  font-size: 1rem;
  line-height: 1.5;
}

.k-c {
  font-size: 0.875rem;
}

.col-7 {
  max-width: 49.5rem;
  width: 100%;
}

.col-5 {
  max-width: 35rem;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5;
  color: #00838A;
  transition: color 0.2s ease;
}

label>input {
  padding: 0.5rem 0.75rem;
  background-color: white;
  border-radius: 0.25rem;
  border: solid 2px #00838A;
  margin-top: 0.25rem;
  transition: border 0.2s ease;
}

label>input::placeholder {
  font-size: 0.875rem;
  color: #C2C2C2;
}

label:hover, label:focus-within {
  color: #009BA4;
}

label:hover>input,
label>input:focus {
  border: solid 2px #009BA4;
}

label>input:focus {
  outline: none;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #00838A;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #009BA4;
}

.btn.text {
  background-color: transparent;
  color: #00838A;
  transition: color 0.2s ease;
}

.btn:hover.text {
  color: #009BA4;
}

.btn.error {
  background-color: #DC1010;
}

.price {
  font-size: 1.5rem;
  line-height: 1.5;
}

.text-content {
  max-width: 700px;
}